{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Início - Meu Portfólio
{% endblock %}

{% block header_title %}
    Dowglas Hademar
{% endblock %}


{% block extra_css %}
    <link rel = "stylesheet" href = "{% static 'portfolio/home.css' %}">
{% endblock %}

{% block content %}
    <div class="perfil">
        <img src="{{ perfil.imagem.url }}" alt="Foto do Aluno">
        <h2>Dowglas Hademar</h2>
        <p>Estudante de Sistemas de Informação - UAST/UFRPE</p>
    </div>

    <div class="secao">
        <h3>Sobre Mim</h3>
        <p>
            {{ perfil.descricao}}
        </p>
    </div>

    <div class="secao">
        <h3>Dados Pessoais</h3>
        <ul>
            <li><strong>Nome:</strong> {{ perfil.nome }}</li>
            <li><strong>Curso:</strong> {{ perfil.curso }}</li>
            <li><strong>Período:</strong> {{ perfil.periodo }}</li>
            <li><strong>E-mail:</strong> {{ perfil.email }}</li>
            <li><strong>GitHub:</strong> {{ perfil.git}}</li>
            <li><strong>LinkedIn:</strong> {{ perfil.linkedin }}</li>
        </ul>
    </div>

    <div class="secao">
        <h3>Cursos e Certificados</h3>
        <ul>
            {% for certificado in certificados%}
                <li> {{ certifcado.descricao}}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
    