{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Projetos - Meu Portfólio
{% endblock %}

{% block header_title %}
    Meus Projetos
{% endblock %}


{% block extra_css %}
    <link rel = "stylesheet" href = "{% static 'portfolio/projetos.css' %}">
{% endblock %}

{% block content %}
    {% for projeto in projetos %}
        <div class="projeto-card">
            <span class="tipo {{ projeto.tipo }}">Projeto de Disciplina</span>
            <h3> {{ projeto.nome }} </h3>
            <p>
                {{ projeto.descricao }}
            </p>
            <a href="{{ projeto.git }}" target="_blank">github.com/Dowglas-Hademar/Enquentes</a>
        </div>
    {% endfor %}


{% endblock %}
    